<ion-view title="Message">
    <ion-content class="padding">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="messageSection in messageSections">
                <div class="list card">
                    <div class="item item-avatar">
                        <img ng-src="{{ messageSection.profileImg }}" alt="profile image"/>

                        <h2>{{ messageSection.messageCount }}</h2>

                        <p>{{ messageSection.date }}</p>
                    </div>
                    <div class="item item-body">
                        <img ng-src="{{ messageSection.companyImg }}" alt="company image"/>

                        <p>{{ messageSection.alertMessage }}</p>

                        <p>
                            <a href="#" class="subdued">1 Like</a>
                            <a href="#" class="subdued">5 Comments</a>
                        </p>
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-ios-checkmark"></i>
                            Check
                        </a>
                        <a class="tab-item" href="#">
                            <i class="icon ion-close-circled"></i>
                            Close
                        </a>
                        <!--<a class="tab-item" href="#">-->
                        <!--<i class="icon ion-share"></i>-->
                        <!--Share-->
                        <!--</a>-->
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>